.Booktb {
    text-align: center;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);
}

tr .theader {
    cursor: pointer;
    color: black;
    background-color: rgba(42, 53, 71, 0.06);
    transition: 0.3s ease;
}

.theader:hover {
    background-color: rgba(42, 53, 71, 0.03);
}